// Select the current hood drop down
// 

$('.from-hood option:not(:first)').remove();

// delete it

// Select .from_city

// for(var i = 0; i < j @city.hoods.count, i++){
//   $('.from-hood').append($('<option></option>').val(hood.id).html(hood.name));
// }

$('.from-city').

// Append result of below .from_city
 // <%= j collection_select(:hood, :city_id, @city.hoods, :id, :name, {:prompt => 'Select the hood'}, :class => 'from-hood') %>
