<h1>Cities#index</h1>
<p>Find me in app/views/cities/index.html.erb</p>

<ul>
<% @cities.each do |city| %>
<li><%= link_to city.name, city %></li>
<% end %>
</ul>

<!-- What's the SF, NoMa , of NYC? -->
<!-- SF and NoMa are selected from drop down lists 
NYC is from a city drop down list that does not include SF -->
<!-- submit button -->

<%= form_for(:session, url: sessions_path) do |f| %>
  <%= f.label :city_id, "Where are you from?" %>
  <%= f.collection_select(:city_id, @cities, :id, :name, :prompt => "select city") %>

  <%#= f.grouped_collection_select(:hood, :id, @cities, :hoods, :name, :id, :name) %>
  <%#= f.select :cities, option_groups_from_collection_for_select(@cities, :hoods, :name, :id, :name) %>
  <%#= f.option_groups_from_collection_for_select(@cities, :hoods, :name, :id, :name) %>
  <%#= f.submit %>
<% end %>