<html>
  <body>
    <h1>Welcome to Hood2Hood</h1>
    <h2> Travelling to a new city? Find out which hoods are most similar to your favorite spots where you live so you know where to hang out!</h2>
    <h3> Our cities </h3>
    <ul>
    <% @cities.each do |city| %>
      <li><%= link_to city.name, city %></li>
    <% end %>
    </ul>
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :city_id, "Where are you from?" %>
      <%= f.collection_select(:city_id, @cities, :id, :name, :prompt => "select city") %>
    <% end %>
  </body>
</html>