<div id="fullscreen-slider" class="carousel slide wow bounceIn showdelay4" data-ride="carousel">
  <!-- Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  <div class="item active">
    <div class="slider-caption"> 
      <h2>Hood 2 Hood</h2>
      <i class="fa fa-home"></i>
      <i class="fa fa-paper-plane"></i>
      <i class="fa fa-home"></i>
      <p>Travelling to a new city? Find out which hoods are most similar to your favorite spots where you live so you know where to hang out!
      </p> 

      <%= render 'cities/form' %>

      </div>
    </div>            
  </div>
  
  </div>


</div>