<div class="section-heading">
  <h2>Team</h2>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
    <div class="team-box">
      <div class="team-image">
        <img src="images/team/blake_deboer.jpg" class="img-circle" alt=""/>
        
      </div>
      <div class="team-info">
        <h3>Blake DeBoer</h3>
        <b>Web Developer</b>
        <p>Team member Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim.  </p>
        <ul class="team-social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>                          
  </div>
  
  <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
    <div class="team-box">
      <div class="team-image">
        <img src="images/team/brianne_king.jpg" class="img-circle" alt=""/>
        
      </div>
      <div class="team-info">
        <h3>Brianne King</h3>
        <b>Web Developer</b>
        <p>Team member Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim.  </p>
        <ul class="team-social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>                          
  </div>
  
</div>
<!-- /row -->

<div class="row">
  <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
    <div class="team-box">
      <div class="team-image last">
        <img src="images/team/sofia_ma.jpg" class="img-circle" alt=""/>
        
      </div>
      <div class="team-info">
        <h3>Sofia Ma</h3>
        <b>Web Developer</b>
        <p>Team member Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim.  </p>
        <ul class="team-social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>                          
  </div>
  
</div>
<!-- /row -->